# dependencies
/node_modules

# Next.js build output
/.next
/out

# local environment files
.env*

# editors and operating systems
.DS_Store
*.swp

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
