@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: #e5e7eb;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: #f7f6f2;
    color: #1e1e28;
    font-feature-settings: "rlig" 1, "calt" 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: #efeee9;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #aaa7a0;
    border-radius: 4px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
